@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility light-bg {
	background-image: repeating-linear-gradient(157.5deg,#fff 0,#fff 10px,transparent 10px,transparent 11px),repeating-linear-gradient(67.5deg,#fff 0,#fff 10px,transparent 10px,transparent 11px),linear-gradient(90deg,#075014,#075014)
}

@utility dark-bg {
	background-image: repeating-linear-gradient(157.5deg,#000 0,#000 10px,transparent 10px,transparent 11px),repeating-linear-gradient(67.5deg,#000 0,#000 10px,transparent 10px,transparent 11px),linear-gradient(90deg,#55aa76,#5578aa,#9755aa,#aa5557,#9aaa55)
}

@utility shared-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.backup-bg {
	z-index: -20;
	background-color: transparent;
	@apply shared-bg light-bg dark:dark-bg;
}

#gradient-canvas {
	z-index: -10;
	--gradient-color-1: #9C6AF9;
	--gradient-color-2: #F9DA73;
	--gradient-color-3: #FA8282;
	--gradient-color-4: #FD4382;
	@apply shared-bg;
}

@utility light-card {
	background: rgba(241, 245, 249, 0.9);
	border: 2px solid rgba(255, 255, 255, 0.27);
}

@utility dark-card {
	background: rgba(41, 37, 36, 0.9);
	border: 2px solid rgba(0, 0, 0, 0.27);
}

.glass-card {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	@apply light-card dark:dark-card;
}