@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--breakpoint-xs: 35rem;
}

:root {
	--font-sans: "system-ui","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","sans-serif";
	--font-serif: "Lora","Palatino","Times New Roman","Times","serif";
	--font-mono: "JetBrains Mono","Monaco","Andale Mono","Consolas","Liberation Mono","Courier New","monospace";
}

html {
	@apply overscroll-y-none;
}

body {
	@apply leading-[normal] text-[1rem] font-sans font-light bg-white text-[#475569] dark:bg-black dark:text-[#cbd5e1] selection:bg-[#c7d2fe] dark:selection:bg-[#787f9a] relative overscroll-y-none;
}
